.bar {
  margin-bottom: -3rem;
  background-color: $colorBlack !important;
}
.txt {
  text-decoration: none;
  color: $colorWhite;


}
.txt:hover {
color: blue !important;
} 

.text-center {
  color: $colorWhite;
}

.text-center-title {
  color: $colorLessBlack;
}