#contact {
  padding: 100px 0;
	color: $colorWhite;
  } 
  
  .line {
    border: none;
    border-width: 1;
    margin: 3rem;
  }
  
   .title-form {
    margin-top: -25rem;
    color: $colorLessBlack;

    @include mobile() {
      margin-top: -30rem;
    }
    @include tablet() {
      margin-top: -30rem !important;
    }
  } 
  
  .ctn-form {
    margin-top: 25rem;
  }
  .btn-submit {
      background: $colorLightBlueGradient;
  
  }
  