#contact {
  padding: 100px 0;
	color: #fff;
  } 
  
  .line {
    border: none;
    border-width: 1;
    margin: 3rem;
  }
  
   .title-form {
    margin-top: -25rem;
    color: #1e1e1e;
  } 
  
  .ctn-form {
    margin-top: 25rem;
  }
  .btn-submit {
      background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  
  }
  