//PALETTES
$colorWhite: #fff;
$colorBlueGradient:  linear-gradient(to right, rgba(99,114,255,0.8) 0%, rgba(92,169,251,0.8) 100%);
$colorBlack: #000;
$colorLessBlack: #1e1e1e;
$colorLightBlueGradient: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);


/*GENERAL STYLING*/
body {
  background-color: #fff !important;
  scroll-behavior: auto;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

/*   color: #4e4e4e!important;
 */}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}




